PORT=5000
# Option A (Standard - uses SRV lookup)
# MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/ecommerce-api

# Option B (Bypasses SRV lookup if your local internet has DNS resolution issues)
MONGO_URI=mongodb://<username>:<password>@ac-aaiklqa-shard-00-00.xlpveq7.mongodb.net:27017,ac-aaiklqa-shard-00-01.xlpveq7.mongodb.net:27017,ac-aaiklqa-shard-00-02.xlpveq7.mongodb.net:27017/ecommerce-api?ssl=true&authSource=admin&retryWrites=true&replicaSet=atlas-14d5w5-shard-0

JWT_SECRET=your_jwt_secret_here
JWT_EXPIRE=30d
